fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langgraph

groq
pydantic
requests
httpx
google-search-results

beautifulsoup4
lxml

python-multipart
aiofiles

sqlalchemy